{% extends "base.html" %}
      
 {% block content %}
<style>
    
    body {
        font-family: "Roboto", sans-serif;
        font-size: 18px;
        background-color: #263238;
    }

    .head_text{
    color: white;
  }
    
 .card-body
 {
    color:white;
 }
</style>

<header class="masthead" >
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class=" col-md-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h3 class=" site-heading my-4 mt-3 text-white"> Welcome to my awesome Blog </h3>
            <p class="text-light">We Love Django As much as you do..! &nbsp
            </p>
        </div>
            </div>
          </div>
        </div>
    </div>
      </header></br></br></br>

    <div class="row d-flex justify-content-center">
      <!-- Blog Entries Column -->
      <div class="col-md-8 mt-3">
            {% for post in page_obj %}
        <div class="card mb-4 bg-dark" >
          <div class="card-body">
            <h2 class="card-title">{{ post.title }}</h2>
            <p class="card-text text-muted h6">{{ post.author }} | {{ post.created_on}} </p>

            <p class="card-text">{{post.content|slice:":200" }}</p>
            <a href="{% url 'post_detail' post.slug  %}" class="btn btn-success">Read More &rarr;</a>
          </div>
         
        </div>
        {% endfor %}
        <nav aria-label="Page navigation example">
          <ul class="pagination">
            {% if page_obj.has_previous %}
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">« Previous page</a></li>
    
                {% if page_obj.number > 3 %}
                <li class="page-item"><a class="page-link" href="?page=1">1</a></li>
                  {% if page_obj.number > 4 %}
                    <span>...</span>
                  {% endif %}
                {% endif %}
            {% endif %}
    
    {% for num in page_obj.paginator.page_range %}
      {% if page_obj.number == num %}
      <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
      {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
      <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
      {% endif %}
    {% endfor %}
    
    {% if page_obj.has_next %}
      {% if page_obj.number < page_obj.paginator.num_pages|add:'-3' %}
        <span>...</span>
        <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a></li>
      {% elif page_obj.number < page_obj.paginator.num_pages|add:'-2' %}
      <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a></li>
      {% endif %}
    
       <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next Page »</a></li>
       {% endif %}  
       </ul>
       </nav>
    </div>  
      </div>
    
{% endblock %}